.collection__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "large-1   large-2   small-1"
    "large-1   large-2   large-3"
    "small-2   large-4   large-3"
    "large-5   large-4   large-6"
    "large-5   small-3   large-6";
  grid-gap: 10px;
  padding: 1rem;
  width: 90%;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    grid-template-areas:
      "large-1   large-2   small-1"
      "small-2  large-4   large-3"
      "large-5    small-3  large-6";
    grid-template-rows: repeat(3, 1fr);
  }

  @media screen and (max-width: 550px) {
    grid-template-areas:
      "large-1 large-2"
      "small-1 small-2"
      "large-4 large-3"
      "large-5 small-3"
      "large-6 otro";

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}
